/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  background-color: #e6c574;
  color: #4c3c32;
}

header {
    position: sticky;
    top: 0; 
    z-index: 1000; 
    background-color: #ffffffb7; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    overflow: hidden; 
  }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 60px;
  margin-left: 25px;
 
}

.logo {
  display: flex;
  gap: 10px;
}

.logo p{
  
  font-size:22px ;
  font-weight: bolder;
  margin-top: 24px;
  color: #a74106;
  font-family:  Hind Madurai, serif;
  font-weight: bolder;
}



nav ul {
  margin-right: 45px;
  list-style: none;
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  font-size: 22px;
  color: #4c3c32;
  font-weight: bolder;
  transition: color 0.3s;
}

nav a:hover {
  color: #7e685b;
}

.coffeeshop-desc {
  margin-left: 8vw;
  
  
}

.coffeeshop-desc h1{
   font-size:55px;
  }



.coffeeshop-desc p {
  text-align: left;
  width: 45vw;
  
 
}



.home_con {
    display: flex;
    gap: 5vw; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    
}

.home_con img {
    overflow: hidden;
    height: 80vh; 
    object-fit: cover; 
    margin: 0 auto; 
    position: relative;
    bottom:10px ;
    right: 50px; 
    transform: translate(0, 0); 
}

.hero {
  /*text-align: center;*/
  padding: 40px 0;
  background-image: url("hero-bg.jpg");
  background-size: cover;
  color: rgb(255, 255, 255);
  
}

.hero h1 {
 
  font-size: 66px;
  margin-bottom: 5px;
}

.hero h2 {
    font-size: 66px;
    margin-bottom: 8px;
  }

.hero h3 {
  font-size: 30px;
}

.hero p {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4c3c32;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #7e685b;
}

.menu {
  height: 110vh;
  width: auto;
  background-color: #7e685b;
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.menu h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  padding-top: 30px;
  color: #fff;
}

.menu h3 {
  font-size: 24px;
  color: #fff;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  font-size: 18px;
  color: #ddd;
  padding: 8px 0;
  border-bottom: 1px solid #9e8e7b;
}

.menu ul li:last-child {
  border-bottom: none;
}

.menu ul li span {
  font-weight: bold;
  color: #fff;
}


.menu ul li:hover {
  background-color: #9e8e7b;
  color: #fff;
  cursor: pointer;
}

.about {
  padding: 100px 0;
  text-align: center;
  background-color: #ede4d6;
}

.about h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}

.contact {
  padding: 100px 0;
  text-align: center;
  background-color: #4c3c32;
  color: white;
}

.contact h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 18px;
  margin-bottom: 40px;
}

footer {
  background-color: #4c3c32;
  color: white;
  text-align: center;
  padding: 20px 0;
}
